<template>
  <nav class="navbar navbar-expand-lg bg-menu">
    <div class="container-fluid">

      <router-link class="navbar-brand fw-bold text-white" to="/">DevFast</router-link>
      <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <router-link class="nav-link active text-white ms-3" to="/">Trang chủ</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link active text-white ms-3" to="/form">Thêm mới</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link active text-white ms-3" to="/detail">
              Chi tiết <span class="badge text-bg-warning">4</span>
            </router-link>
          </li>
          <li class="nav-item" v-if="user.roles===3">
            <router-link class="nav-link active text-white ms-3" to="/manage">Quản lý</router-link>
          </li>
        </ul>

        <div class="dropdown">
          <div class="dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Xin chào, {{convert(user.roles)}}
          </div>
          <ul class="dropdown-menu position-absolute position-left-25">
            <li><router-link class="dropdown-item" to="/info">Thông tin tài khoản</router-link></li>
            <li><router-link class="dropdown-item" to="#" @click="logout">Đăng xuất</router-link></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import axios from "axios";
export default {
  name: 'AppHeader',
  data(){
   return{
   user:""
   }
   },
   created() {
  axios.get("http://127.0.0.1:8000/api/profile", {
    headers: {
      Authorization: 'Bearer ' + localStorage.getItem('token')
      // Thêm khoảng trắng giữa 'Bearer' và token
    }
  }).then((res) => {
    this.user = res.data;
    console.log(res.data);
  }).catch(() => {
  localStorage.removeItem('token');
    this.$router.push('/login')
  location.reload();
  });

},
methods:{
     convert(user){
   if(user===1){
    return 'User'
   }else if(user===2){
   return 'Manager'
   }else if(user===3){
    return 'Admin'
   }
  },
  logout(){
    localStorage.removeItem('token');
    location.reload();
  }
}
}
</script>