body,html{
  height: 100%;
  width: 100%;
}
#app{
  height: 100%;
}
.footer{
  position: sticky;
  top: 100%;
  background: rgb(87,78,78);
  text-align: center;
  color: #fff;
  padding: 1rem;
}
.height-80{
  height: 80%!important;
}
.header-bg{
  background-color: #2a303c;
  height: 60px
}
.fs-09{
  font-size: 0.9rem;
}
.bg-menu{
  background-color: #2a303c;
}
.fs-2rem{
  font-size: 1.5rem;
}
.sidebar-menu-item:hover{
  background-color: #323a49;
}
.sidebar{
  height: auto;
}
.header-gray{
  background-color: #d9d9d9;
}
.position-left-25{
  left: -25px !important;
}
.h-150{
  min-height: 150px;
}
